@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Roboto:ital,wght@1,100;1,300&display=swap');

/* font-family: 'Nova Round', cursive;
font-family: 'Roboto', sans-serif; */

body {
    background: linear-gradient(to bottom, transparent, black), url("/img/screen2.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    margin-top: 125px;
}

nav{
    background: linear-gradient(to bottom, #46e981, #30a35a);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    z-index: 9;
}

#a-museicon{
    position: absolute;
    margin: 10px 10px;
    display: inline;
}

#a-muselogo{
    position: absolute;
    margin: 15px 10px;
    display: inline;
    margin-left: 110px;
}

#icons{
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#icon {
	background: transparent;
	color: white;
	border-color: transparent;
	height: 75px;
	width: 75px;
    font-size: 15px;
    margin: 0 25px;
}
.search-box{
    box-sizing: border-box;
    width: fit-content;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.input-search{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
}
.input-search::placeholder{
    box-sizing: border-box;
    color:rgba(255, 255, 255, 0.76);
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.icon-search{
    box-sizing: border-box;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    position: relative;
}
.btn-search{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff;
    background-color:transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search{
    box-sizing: border-box;
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:2px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    position: relative;
}
.input-search:focus{
    box-sizing: border-box;
    width: 400px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:2px solid #ffffff;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* FOOTER */

.footer {
    width: 100%;
    position: sticky;
    margin-top: 25%;
    height: auto;
    background-color: black;
}
.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}
.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'Nova Round', cursive;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}
.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer .col ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.footer .col ul li a:hover {
    text-decoration: none;
    color: #46e981;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
.clearfix {
    clear: both;
}
.contain {
    width: 100%;
    margin: 0 auto;
}
.footer img{
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}
#rodape{
    color: #999999;
    font-size: 15px;
    text-align: center;
    margin: 2% 5%;
}
#spotifylogo{
    margin: 10px 10px;
    margin-left: 200px;
}

/* FOOTER */