<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós | A-Muse</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleAboutUs.css') }}">

</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <img src="{{url_for('static', filename='img/A-MuseIcon.png')}}" id="a-museicon" onclick="goToHome()">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/" class="active">Home</a>
                    </li>
                    <li>
                        <a href="/createPlaylist">Crie sua Playlist</a>
                    </li>
                    <li>
                        <a href="/aboutus">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                </ul>
                <div class="login-signup">
                    <form action="/callback" method="GET">
                        <input type="submit" value="Login" onclick="logado()">
                    </form>
                    <form action="/logoff" method="POST">
                        <input type="submit" value="Logoff" onclick="logoff()">
                    </form>
                    
                </div>
            </nav>
        </div>
        <div class="header-right">
            <div class="login-signup">
                <form action="/callback" method="GET">
                    <input type="submit" value="Login" onclick="logado()">
                </form>
                <form action="/logoff" method="POST">
                    <input type="submit" value="Logoff" onclick="logoff()">
                </form>
            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <main>
        <div class="main">
            <h1>Sobre Nós</h1>
            <p>O <strong>A-Muse</strong>, criado em 2023, é uma plataforma de criação de playlists com base nas suas definições.
                Nosso objetivo é te ajudar a encontrar sua playlist perfeita, de acordo com o que você estiver sentindo,
                ou com o conceito que estiver em sua mente, nós criamos o A-Muse para aqueles momentos em que você está
                com uma certa vontade de descobrir músicas novas mas não tem certeza de como procurar, ou até mesmo
                não tiver o tempo para navegar pela imensidão do catálogo do Spotify.</p>
            <p>Esse projeto surgiu de um grupo de faculdade, que foi de um simples trabalho com o intuito de obter uma
                aprovação de período, para um projeto mais ambicioso, que visa auxiliar qualquer um que precise de
                inspiração através da música, assim como nós do <strong>Time de Desenvolvimento do A-Muse.</strong></p>
                <br>
        </div>
    </main>
    <footer class="footer">
        <div class="contain">
            <div class="col">
                <h1>Páginas</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/createPlaylist">Crie Sua Playlist</a></li>
                    <li><a href="/aboutus">Sobre Nós</a></li>
                </ul>
                <h1>Suporte</h1>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="mailto:faq.amuse@gmail.com?subject=Sugestão">Fale Conosco</a></li>
                </ul>
            </div>
            <div class="copyright">
                <img src="{{url_for('static', filename='img/A-MuseIcon.png')}}" id="a-musefooter">
                <img src="{{url_for('static', filename='img/spotifyLogo.png')}}" id="spotifylogo">
            </div>
            <div class="clearfix"></div>
            <p id="rodape">© Copyright 2023 | A-Muse Development Team</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scriptHome.js') }}"></script>

</body>
</html>