@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Roboto:ital,wght@1,100;1,300&display=swap');
/* font-family: 'Nova Round', cursive;
font-family: 'Roboto', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #59C97F;
}
::-webkit-scrollbar-thumb{
    background: #0D0D0D;
    border-radius: 15px;
}
::selection{
    background-color: #0D0D0D;
    color: #59C97F;
}
html{
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(to bottom, transparent, black), url("/static/img/screen3.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Nova Round', cursive;
    color: #0D0D0D;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #0D0D0D;
}
a {
    color: #E9ECF2;
    text-decoration: none;
    font-family: 'Nova Round', cursive;
}

input {
    color: #E9ECF2;
    text-decoration: none;
    font-family: 'Nova Round', cursive;
}

/* HEADER */

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: linear-gradient(to bottom, #46e981, #30a35a);
    z-index: 9;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    font-size: 18px;
    padding: 5px 20px;
    transition: 0.2s;
    border-radius: 5px;
}
nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    font-weight: bold;
}
header .login-signup input {
    display: inline-block;
    color: #46e981;
    background: #0D0D0D;
    padding: 10px 25px;
    border-radius: 5px;
}
header .header-left a:hover {
    color: #0D0D0D;
}
header .login-signup input:hover {
    color: #E9ECF2;
    background: #01A573;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    border-radius: 2px;
    background: #0D0D0D;
}
#a-museicon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* HEADER */

/* MAIN */

.main{
    background-color: #59C97F;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 30px;
}
.main h1, .main p{
    padding-top: 2%;
    padding-bottom: 2%;
}
.main h1{
    font-size: 70px;
}
.main p{
    text-align: justify;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


/* MAIN */

/* FOOTER */

.footer {
    width: 100%;
    position: relative;
    height: 3%;
    bottom: 0;
}
.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}
.footer .col h1 {
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 0.300em;
}
.footer .col ul li a{
    color: #E9ECF2;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.footer .col ul li a:hover {
    color: #46e981;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
.clearfix {
    clear: both;
}
.contain {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
.copyright img{
    height: 100px;
    max-width: 100%;
    justify-content: space-between;
    padding-right: 5%;
    text-align: center;
    margin-top: 4%;
}
#a-musefooter{
    display: inline-block;
}
#spotifylogo{
    float: right;
}
#rodape{
    color: #999999;
    font-size: 15px;
    text-align: center;
    margin: 2% 5%;
}

/* FOOTER */

/* DISPLAY TABLET */
@media only screen and (max-width: 1000px) {
    body{
        background-size: 300%;
        background-position: center;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background: linear-gradient(to bottom, #46e981, #30a35a);
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
        z-index: 1;
    }
    header .header-left nav ul {
        display: block;
    }
    .main h1{
        font-size: 50px;
    }
    .main p{
        font-size: 20px;
    }
    .footer .col {
        width: 33%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
    .copyright img{
        height: 90px;
        padding-right: 3%;
        margin-top: 6%;
    }
}

@media only screen and (max-width: 700px){
    .main h1{
        font-size: 50px;
    }
    .main p{
        font-size: 20px;
    }
    .footer .col {
        width: 50%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
    .copyright img{
        height: 50px;
        padding-right: 2%;
        margin-top: 10%;
    }
}

/* DISPLAY MOBILE */
@media only screen and (max-width: 500px) {
    body{
        background-size: 300%;
        background-position: center;
    }
    nav .login-signup {
        display: block;
        margin-top: 10px;
    }
    header .header-right .login-signup {
        display: none;
    }
    .main h1{
        font-size: 30px;
    }
    .main p{
        font-size: 15px;
    }
    .copyright img{
        height: 37px;
        padding-right: 2%;
        margin-top: 15%;
    }
    #rodape{
        font-size: 10px;
    }
}